.signup-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between; /* 横並びにする */
  gap: 20px; /* 各項目間のスペース */
}

.form-column {
  display: flex;
  flex-direction: column; /* ラベルと入力フィールドを縦に並べる */
  width: 18%; /* 各項目の幅 */
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-top: 5px;
  width: 100%; /* 入力フィールドが横幅に合わせて伸縮 */
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #f1e28b;
  color: white;
  border: none;
  cursor: pointer;
}
