
.header_container {
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between; 
  background-color: #b7c9ff;
  padding: 30px;
}

.headeritem .menu {
  display: flex;
  gap: 30px;
}

.login {
justify-content: flex-end;
}
